.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#color-splash, .game-over, .credits {
  font-size: 48pt;
  font-weight: 900;
  letter-spacing: 3px;
  padding: 10px;
  font-family: "Arial Black", sans-serif;
  letter-spacing: 3px;
  /* background-color: white; */
}

span {
  background-color: white;
  padding: 0.4%;
}

#play-button {
  font-size: 16pt;
  font-weight: 500;
  font-family: "Arial Black", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  display: flex auto;

  background-size: 200% auto;
  width: 250px;
  border-radius: 25px;
  border-width: 5px;
  padding: 15px;
  margin: 10px;

  cursor: pointer;
}

#play-button:hover {
  background-position: right center; 
  color: white;
}

.rainbow-background {
  /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); */
  background-image: linear-gradient(to left, #1b4668, #5A809E, #6CC2BD, #FEE4C4, #FFC1A6, #F57D7C);
}

.instruction-list {
  text-align: left;
  font-size: 10pt;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
}

/* Set page behind and cover to 100vwh*/
.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;  /* for demo purpose  */
}

.box2 {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0vh;
  left: 0vh;
  opacity: 1;  /* for demo purpose  */
}

.cover {
  z-index: -1
}
.splash-board, .navbar, #high-score-list, input {
  font-size: 16pt;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
  color: #1b4668;
  padding: 10px;
  background-color: white;
}

#high-score-list {
  width: 40%;
  margin: auto;
  margin-top: 5%;
}

.score-info, .credit-info {
  font-size: 20pt;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
  color: #1b4668;
  padding: 10px;
}

.thanks, .names {
  font-size: 30pt;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
  color: #1b4668;
  padding: 10px;
}
